.hero {
  background-image: url(/img/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 500px;
    height: 100vh;
    max-height: 1100px;
    @include adaptive-value('padding-top', $header-height-desktop, $header-height-mobile);
  }

  &__title {
    width: max-content;
    max-width: 650px;
    border: 2px solid $c_white;
    @include adaptive-value('padding', 40, 24);
    @extend %h1;
    color: $c_white;
  }
}
