.socials {
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
  width: max-content;

  &__link {
    position: relative;
    display: block;
    @include square(24px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      transform: scale(0);
      display: block;
      width: 100%;
      height: 2px;
      background-color: $c_white;
      transition-property: transform;
      transition-duration: $amin-time;
    }

    &:hover {
      &::after {
        transform: scale(1);
      }
    }

    &--facebook {
      background-image: url(/img/icon-facebook.svg);
    }

    &--twitter {
      background-image: url(/img/icon-twitter.svg);
    }

    &--pinterest {
      background-image: url(/img/icon-pinterest.svg);
    }

    &--instagram {
      background-image: url(/img/icon-instagram.svg);
    }
  }
}