@font-face {
  font-family: Alata;
  font-display: swap;
  src: url("/fonts/Alata-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  font-display: swap;
  src: url("/fonts/JosefinSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  font-display: swap;
  src: url("/fonts/JosefinSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
