%main-text {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
}

%secondary-text {
  font-family: Alata, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
}

%h1 {
  @include adaptive-value('font-size', 72, 40);
  font-weight: 300;
  @include adaptive-value('line-height', 70, 38);
  letter-spacing: 0px;
  text-transform: uppercase;
}

%h2 {
  @include adaptive-value('font-size', 48, 32);
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
}

%h3 {
  @include adaptive-value('font-size', 32, 24);
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
}

%button-text {
  font-family: Alata, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

%nav-link-text {
  font-family: Alata, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
}

%menu-link-text {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
